.input_panel, .input_panel div {
    margin: 0 0 5px;
}

.panel,
.panel-body,
.panel-body > .form-group {
    display: inline-block !important;
}

.panel-body > .form-group > .media,
.panel-body > .form-group > .media > .media-body {
    display: inline !important;

}

.modal-backdrop, .modal {
    margin: 0 !important;
}

